build
Earth.xcodeproj/xcuserdata/asya.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Earth.xcodeproj/asyamiropolskaya.mode1v3
Earth.xcodeproj/asyamiropolskaya.pbxuser
Earth.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Earth.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Earth.xcodeproj/xcuserdata/asya.xcuserdatad/xcschemes/xcschememanagement.plist
